@import "../../styles/colors";
@import "../../styles/helpers";
@import "../../styles/fonts";

#usp {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(107, 99, 255, 0.7);

  h2 {
    color: white !important;
  }

  .task {
    height: 300px;

    h3 {
      margin-top: 2rem;
      color: white;
    }
    img {
      height: 180px;
    }
  }
}
