$blue: #009edd;
$green: #24e0bc;
$purple: #b2b2e4;
$light-blue: #e6f3ff;
$black: #0c0c0c;
$white: #ffffff;
$gray-light: #e2e2e2;

$light-gray: #f5f7fb;
$header-gray: #222222;
$text-gray: #4b4b4b;
$pink: #d5a8d1;
$ultra-green: #a6d743;
$light-ping: #ffc0cb;
$dark-ping: #ff8da1;
$purple-dark: #6c63ff;
