@import "../../styles/colors";
@import "../../styles/helpers";
@import "../../styles/fonts";

footer {
  position: relative;
  background-color: $pastel-green-dark;
  color: #fff;
  padding: 15px;
  padding-top: 50px;

  h4 {
    color: white !important;
  }
}
